.seat_header p {  font-size: 14px;background-color: #f5f5fb; text-align: center; padding: 10px 0; }
.seat_main{
    padding-bottom: 30px;
}
.seat_main .title {
    text-align: center;
    font-size: 16px;
    background: #7e7d7d;
    color: #fff;
    width: 230px;
    height: 50px;
    line-height: 50px;
    margin: 0 auto;
    margin-top: 25px;
}
.box_main {
    font-size: 14px;
    margin: 0 auto;
    position: relative;
    width: 290px;
    -webkit-background-size: cover;
    background-size: cover;
    margin-top: 15px;
}

.box_main .desc {

}
.box_main1 .top a{
    display: block;
    background: url("../images/seat1_1.png") no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
    width: 203px;
    height: 40px;
    margin: 0 auto;
}
.box_main1 .top a:active,.dis1{
    background: url("../images/seat1_2.png") no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
}
.box_main1 .bottom a{
    display: block;
    background: url("../images/seat2_1.png") no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
    width: 247px;
    height: 84px;
    margin: 0 auto;
}
.box_main1 .bottom a:active,.dis2{
    background: url("../images/seat2_2.png") no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
}



.box_main2{
    height: 179px;
}
.box_main2 a{
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.box_main2 .left{
    width: 62px;
    height: 140px;
    position: absolute;
    left: 10px;
    top: 22px;
}
.box_main2 .left a{
    background: url("../images/seat3_1.png") no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
    width: 62px;
    height: 140px;
}
.box_main2 .left a:active,.dis3{
    background: url("../images/seat3_2.png") no-repeat center;
    width: 62px;
    height: 140px;
    -webkit-background-size: 62px 140px;
    background-size: 62px 140px;
}
.box_main2 .center{
    width: 123px;
    height: 40px;
    position: absolute;
    left: 50%;
    bottom: 0;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}
.box_main2 .center a{
    background: url("../images/seat4_1.png") no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
}
.box_main2 .center a:active,.dis4{
    background: url("../images/seat4_2.png") no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
}

.box_main2 .right{
    width: 62px;
    height: 140px;
    position: absolute;
    right: 10px;
    top: 22px;
}
.box_main2 .right a{
    background: url("../images/seat5_1.png") no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
    width: 62px;
    height: 140px;
}
.box_main2 .right a:active,.dis5{
    background: url("../images/seat5_2.png") no-repeat center;
    width: 62px;
    height: 140px;
    -webkit-background-size: 62px 140px;
    background-size: 62px 140px;
}
.displaynone{
    width: 0;
    height: 0;
    overflow: hidden;
}