.process-main {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.process-main .money {
  font-size: 2rem;
  color: #ff2e51;
}

.process-main .process-dialog {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #fff;
  -webkit-transform: translateY(100%);
     -moz-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: all 0.8s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: all 0.8s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 0.8s cubic-bezier(0.77, 0, 0.175, 1);
}

.process-main .process-header {
  position: relative;
  padding-top: 18px;
  border-bottom: 1px solid #ccc;
}

.process-main .process-header .process-header-title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.process-main .process-header .process-header-title a {
  padding: 10px 0;
  display: block;
  font-size: 1.2rem;
  line-height: 20px;
  text-align: center;
  color: #ccc;
  -webkit-box-flex: 0.8;
  -webkit-flex: 0.8;
     -moz-box-flex: 0.8;
      -ms-flex: 0.8;
          flex: 0.8;
}

.process-main .process-header .process-header-title a span {
  display: inline-block;
  width: 13px;
  height: 13px;
  line-height: 13px;
  text-align: center;
  font-size: 1rem;
  color: #aaa;
  border: 1px solid #aaa;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}

.process-main .process-header .process-header-title a i {
  color: #ccc;
}

.process-main .process-header .process-header-title a:nth-of-type(1) {
  -webkit-box-flex: 1.4;
  -webkit-flex: 1.4;
     -moz-box-flex: 1.4;
      -ms-flex: 1.4;
          flex: 1.4;
}

.process-main .process-header .process-header-title a:nth-of-type(2) {
  -webkit-box-flex: 1.8;
  -webkit-flex: 1.8;
     -moz-box-flex: 1.8;
      -ms-flex: 1.8;
          flex: 1.8;
}

.process-main .process-header .process-header-title .active {
  color: #39b54a;
}

.process-main .process-header .process-header-title .active span {
  color: #39b54a;
  border: 1px solid #39b54a;
}

.process-main .process-header .process-header-close {
  position: absolute;
  right: 2px;
  top: 2px;
}

.process-main .process-header .process-header-close i {
  font-size: 2.4rem;
  color: #ccc;
}

.process-main .process-content {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.process-main .process-content .process-content-title {
  padding: 5px 0;
  font-size: 1.6rem;
  color: #333;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.process-main .process-content .process-content-p {
  padding: 5px 0;
  font-size: 1.2rem;
  color: #aaa;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.process-main .process-footer {
  padding: 10px;
}

.process-main .process-footer .process-footer-count {
  margin-bottom: 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #666;
}

.process-main .process-footer .process-footer-count .counter-slider {
  display: inline-block;
  margin-right: 10px;
}

.process-main .process-footer .process-footer-count .counter-main {
  display: inline-block;
  height: 27px;
  line-height: 27px;
  border: 1px solid #ccc;
  overflow: hidden;
  font-size: 0;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.process-main .process-footer .process-footer-count .counter-main > div {
  display: inline-block;
}

.process-main .process-footer .process-footer-count .iconfont {
  color: #ccc;
}

.process-main .process-footer .process-footer-count .counter-subtract {
  width: 25px;
  height: 25px;
  text-align: center;
  border-right: 1px solid #ccc;
}

.process-main .process-footer .process-footer-count .counter-add {
  width: 25px;
  height: 25px;
  text-align: center;
  border-left: 1px solid #ccc;
}

.process-main .process-footer .process-footer-count .counter-val {
  position: relative;
  top: -2px;
  width: 40px;
  height: 25px;
  font-size: 1.4rem;
  text-align: center;
}

.process-main .process-footer .process-footer-select {
  position: relative;
  padding: 10px;
  color: #666;
  border: 1px solid #ccc;
  -webkit-border-radius: 5px;
          border-radius: 5px;
}

.process-main .process-footer .process-footer-select i {
  position: absolute;
  right: 5px;
  top: 7px;
  color: #ccc;
  -webkit-transform: rotate(90deg);
     -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.process-main .process-footer .process-footer-promtp {
  padding: 5px 0;
  font-size: 1rem;
  color: #39b54a;
}

.process-main .process-footer .process-footer-btn {
  margin-top: 50px;
}

.process-main .process-footer .process-footer-btn a {
  margin: 0;
}

.select-main {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 6;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.select-main .select-dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  max-width: 640px;
  -webkit-transform: translate(-50%, 100%);
     -moz-transform: translate(-50%, 100%);
      -ms-transform: translate(-50%, 100%);
          transform: translate(-50%, 100%);
  -webkit-transition: all 1s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: all 1s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 1s cubic-bezier(0.77, 0, 0.175, 1);
}

.select-main .select-header {
  padding: 15px 10px;
  color: #666;
  -webkit-border-radius: 5px 5px 0 0;
          border-radius: 5px 5px 0 0;
  background: #bdd2d7;
}

.select-main .select-items {
  height: 350px;
  overflow-y: auto;
  -webkit-border-radius: 0 0 5px 5px;
          border-radius: 0 0 5px 5px;
  background: #fff;
}

.select-main .select-items a {
  padding: 15px 10px;
  display: block;
  color: #666;
  font-size: 1.2rem;
}

.select-main .select-items a:active {
  background: #bdd2d7;
}
